#header-extension {
    background-color: #eee;
}

.white_bold {
    color: whitesmoke;
    font-family: Courier New, Courier, monospace;
    border: #eee;
}

#p.container {
    background-image: url('/imgs/mission_to_mars.jpg') repeat center;
    text-align: center;
}

.section-heading {
    font-family: Courier New, Courier, monospace;
    color: rgb(253, 255, 252);
    font-weight: 700;
    background-color: rgba(231, 29, 54, 1);
    padding:2%;
    margin-right:20%;
    border-bottom-color: rgba(1, 22, 39, 1);
}

.sub-heading {
    font-family: Courier New, Courier, monospace;
    color: rgba(1, 22, 39, 1);
    font-weight: 700;
    background-color: rgba(253, 255, 252, 1) ;
    padding:2%;
    margin-right:20%;
    border-bottom-color:  rgba(1, 22, 39, 1);
}

.news-headline{
    font-family: Courier New, Courier, monospace;
    color: rgba(1, 22, 39, 1);
    font-weight: 700;
    background-color: rgba(253, 255, 252, 1) ;
    margin-right:20%;
    border-bottom-color:  rgba(1, 22, 39, 1);
}


hr {
    color: rgba(231, 29, 54, 1);
}



