#header-extension {
    background-color: #eee;
}

.white_bold {
    color: whitesmoke;
    font-family: Courier New, Courier, monospace;
    border: #eee;
}

#p.container {
    background-image: url('/imgs/mission_to_mars.jpg') repeat center;
    text-align: center;
}


