<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wow Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href='static/styles.css'/>
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="background:transparent url('static/mission_to_mars.jpg') no-repeat center center /cover; margin-bottom:4px; height:111pt;width: auto;">
           <h1 class="white_bold text-center" >Mars Facts</h1>
            <div class='col-md-12'>
                <p><a class='btn-primary btn-lg' href='/scrape' role='button'>Scrape Mars Facts</a></p>
                    </div>
        </div>
        <div class='row text-left'>
            <div class='col-md-12'>
                <h1 class="section-heading mt-5">Latest Martian News</h1>
                <h3 class='sub-heading'>{{records['nasa_news'][0]['title']}}</h3>
                <hr>
                <p class='news-headline'> {{records['nasa_news'][0]['headline']}}</p>
                <h3 class='sub-heading'>{{records['nasa_news'][1]['title']}}</h3>
                <hr>
                <p class='news-headline'> {{records['nasa_news'][1]['headline']}}</p>

            </div>
        </div>

        <div class='row text-left'>
                <div class='col-10-md'>
                    <h1 class="mt-5 section-heading"> Featured Mars Image</h1>
                    <img class='sub-heading' src= {{ records["featured_image_url"] }}  alt="featured martian image">

                </div>
        </div>
        <div class="row">
                <div class='col-3-md'>

                        <h1 class="mt-5 section-heading">Martian Weather</h1>
                        <p class="sub-heading">{{records['martian_weather']}}</p>
                        </div>
                <div class="col-2-md">
                    <h1 class="mt-5 section-heading">Martian Facts</h1>
                        <div class="sub-heading">
                            {{records['fact_table'] | safe}}
                        </div>

                </div>
                
            </div>


        <hr>
        <h1 class='text-center class="section-heading"'>Views of Mars</h1>
                <div class='row'>
                    <div class='col-md-6'>
                        <h3 class="sub-heading">{{ records['hemisphere_images_urls'][0]['title'] }}</h3>
                        <img src= {{ records['hemisphere_images_urls'][0]['img_url'] }} width="200" height="200">
                    </div>
                    <div class='col-md-6'>
                            <h3 class="sub-heading">{{ records['hemisphere_images_urls'][1]['title'] }}</h3>
                            <img src= {{ records['hemisphere_images_urls'][1]['img_url'] }} width="200" height="200">
                    </div>
                </div>
        
                <div class='row'>
                    <div class='col-md-6'>
                            <h3 class="sub-heading">{{ records['hemisphere_images_urls'][2]['title'] }}</h3>
                            <img src= {{ records['hemisphere_images_urls'][2]['img_url'] }} width="200" height="200">
                    </div>
                    <div class='col-md-6'>
                            <h3 class="sub-heading">{{ records['hemisphere_images_urls'][3]['title'] }}</h3>
                            <img src= {{ records['hemisphere_images_urls'][3]['img_url'] }} width="200" height="200">
                    </div>
                </div>
        
            </div>    

    
  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </html>